@use '@angular/material' as mat;

@include mat.core();

$darcula-primary: mat.define-palette(mat.$grey-palette, 800, 900, 100);
$darcula-accent: mat.define-palette(mat.$deep-purple-palette, A200, A100, A400);
$darcula-warn: mat.define-palette(mat.$red-palette);

$darcula-theme: mat.define-dark-theme(
    (color: (
      primary: $darcula-primary,
      accent: $darcula-accent,
      warn: $darcula-warn
    ),
      typography: mat.define-typography-config(),
      density: 0,
    )
);
