<mat-card class="subgoal-card">
  <mat-card-header class="card-header">
    <mat-card-title class="card-title">{{ subgoal()?.name }}</mat-card-title>
    <mat-card-subtitle class="card-subtitle">{{ subgoal()?.metadata?.description }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions class="card-actions">
    <button class="delete-item-button"
            mat-icon-button
            matTooltip="Edit"
            matTooltipPosition="below"
            aria-label="Edit"
            (click)="editSubgoal()"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button class="delete-item-button"
            mat-icon-button
            matTooltip="Delete"
            matTooltipPosition="below"
            aria-label="Delete"
            (click)="deleteSubgoal()"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
