<mat-sidenav-container class="navigation-container">
  <mat-sidenav-content>
    <mat-grid-list cols="4" rowHeight="250px" gutterSize="10px" style="margin: 10px 10px">
      @for (subgoal of activeGoal.subgoals; track subgoal) {
        <mat-grid-tile colspan="1" style="height: 250px; width: 250px">
          <app-subgoal-card
            [name]="subgoal.name"
            [description]="subgoal.description"
            [uuid]="subgoal.id"
          ></app-subgoal-card>
        </mat-grid-tile>
      }
    </mat-grid-list>
  </mat-sidenav-content>
  <mat-sidenav class="left-side-nav" mode="side" opened>
    <app-item-list
      [items]="goalsApiData"
      [activeItem]="activeGoal"
      (itemClicked)="setActiveGoal($event)">
      >
    </app-item-list>
  </mat-sidenav>
</mat-sidenav-container>
