<div>
  <form [formGroup]="loginForm">
    <div class="login-form">
      <h2>Login</h2>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="example@mail.com">
        <mat-icon matSuffix>alternate_email</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" formControlName="password" matInput placeholder="Password">
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
      <div class="auth-buttons">
        <button (click)="login()" mat-raised-button [disabled]="isFormInvalid">Login</button>
        <button mat-raised-button (click)="switchToRegister()">Register</button>
      </div>
    </div>
  </form>
</div>
