<mat-sidenav-container class="navigation-container">
  <mat-sidenav-content>
    <div class="side-nav--content-header">
      <button
        mat-button
        matTooltip="{{sideNavOpened ? 'Hide Menu' : 'Open Menu'}}"
        matTooltipPosition="right"
        class="side-nav--toggle-button" (click)="sideNav.toggle()">
        <mat-icon>{{ sideNavOpened ? 'chevron_left' : 'chevron_right' }}</mat-icon>
      </button>
      <h2 class="side-nav--content-header--title">{{ activeGoal()?.name }}</h2>
    </div>
    <app-subgoal-list
      [activeGoal]="activeGoal()"
      (subgoalDelete)="deleteSubgoal($event)"
    >
      @if (isSubgoalPending()) {
        <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
      }
    </app-subgoal-list>
    <button mat-fab class="add-subgoal" (click)="createSubgoal()">
      <mat-icon aria-label="New Subgoal">add</mat-icon>
    </button>
  </mat-sidenav-content>
  <mat-sidenav #sideNav [(opened)]="sideNavOpened" class="left-side-nav" mode="side" opened>
    @if (isPending()) {
      <mat-progress-bar class="progress-bar" mode="indeterminate" color="accent"></mat-progress-bar>
    }
    @defer (when !!goals()) {
      <app-item-list
        [isExpanded]="true"
        [listName]="'Goals'"
        [items]="goals()"
        [activeItem]="activeGoal()"
        (itemClicked)="setActiveGoal($event)"
        (deleteItemClicked)="handleGoalDeletion($event)"
      >
      </app-item-list>
    }
    @defer (when !!contributing_to()) {
      <app-item-list
        [listName]="'Contributions'"
        [items]="contributing_to()"
        [activeItem]="activeGoal()"
        (itemClicked)="setActiveGoal($event)"
        (deleteItemClicked)="handleRemoveGoalContribution($event)"
      >
      </app-item-list>
    }

  </mat-sidenav>
</mat-sidenav-container>
