@use '@angular/material' as mat;
@use '../../styles/variables.styles' as vars;

@include mat.elevation-classes();
@include mat.app-background();

.navigation-container {
  height: 100%;
  scrollbar-width: thin;
  scrollbar-color: #aaa transparent;
}

.side-nav {
  &--toggle-button {
    height: 100%;
    padding: 0 !important;
    width: 2rem !important;
    min-width: unset !important;
  }

  &--content-header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 2rem;

    &--title {
      line-height: 1.5rem;
      margin-left: 1rem;
      margin-bottom: 0;
    }
  }
}


.left-side-nav {
  width: 25%;
}

.progress-bar {
  height: .5rem;
  margin: .25rem 0;
}

.add-subgoal {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}
