<mat-sidenav-container class="navigation-container">
  <mat-sidenav-content>
    <app-subgoal-list
      [activeGoal]="activeGoal$">
    </app-subgoal-list>
  </mat-sidenav-content>
  <mat-sidenav class="left-side-nav" mode="side" opened>
    <app-item-list
      [items]="goalsApiData"
      [activeItem]="activeGoal$"
      (itemClicked)="setActiveGoal($event)">
      >
    </app-item-list>
    @if (!!contributingToGoalsApiData){
      <p>Contributions</p>
      <app-item-list
        [items]="contributingToGoalsApiData"
        [activeItem]="activeGoal$"
        (itemClicked)="setActiveGoal($event)">
        >
      </app-item-list>
    }
  </mat-sidenav>
</mat-sidenav-container>
