<mat-sidenav-container class="navigation-container">
  <mat-sidenav-content>
    <app-subgoal-list
      [activeGoal]="activeGoal$">
    </app-subgoal-list>
  </mat-sidenav-content>
  <mat-sidenav class="left-side-nav" mode="side" opened>
    @if (isPending()) {
      <mat-progress-bar class="progress-bar" mode="indeterminate" color="accent"></mat-progress-bar>
    }
    @defer (when !!goals()) {
      <app-item-list
        [isExpanded]="true"
        [listName]="'Goals'"
        [items]="goals()"
        [activeItem]="activeGoal$"
        (itemClicked)="setActiveGoal($event)"
        (deleteItemClicked)="handleGoalDeletion($event)"
      >
      </app-item-list>
    }
    @defer (when !!contributing_to()) {
      <app-item-list
        [listName]="'Contributions'"
        [items]="contributing_to()"
        [activeItem]="activeGoal$"
        (itemClicked)="setActiveGoal($event)"
        (deleteItemClicked)="handleRemoveGoalContribution($event)"
      >
      </app-item-list>
    }

  </mat-sidenav>
</mat-sidenav-container>
