.auth-container {
  height: 100%
}

.left-side-nav {
  width: 60%;
}

.centered-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.progress-bar {
  height: .5rem;
  margin: .25rem 0;
}
