#header {
    align-items: center;
    font-size: 18px;
    color: white;
    background-color: #1a1a1a;
    top: 0;
    opacity: 90%;
    width: 100%;
    height: fit-content;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1rem;
    z-index: 100;
    position: sticky;
    outline: 1px solid lightblue;

    #title {
        padding-left: 2rem;
        color: white;
    }
}

#header > * {
    margin: 0.5rem
}