#header {
    align-items: center;
    font-size: 18px;
    top: 0;
    opacity: 90%;
    width: 100%;
    height: 3rem;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1rem;
    z-index: 100;
    position: sticky;

    #title {
        padding-left: 2rem;
        color: white;
        font-weight: bold;
    }

    #logout {
        margin-left: auto;
    }
}

#header > * {
    margin: 0.5rem
}