#left-hand-panel {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 50;
    top: 5rem;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

#left-hand-panel > * {
    padding-top: 1rem;
    padding-bottom: 0;
    padding-left: 0;
    text-align: left;
    margin-left: 2.5rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#left-hand-panel > *::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background: linear-gradient(to right, transparent, #1a1a1a 99%);
}

#left-hand-panel > *:hover {
    overflow: visible;
    white-space: normal; /* Adjusted to normal on hover to allow text to wrap */
}

#left-hand-panel > *:hover::after {
    display: none;
}
