.container {
    display: flex;
    max-height: 100vh;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
}

.left-side {
    max-height: 100vh;
    margin-right: auto;
    width: 60%;
    height: 100%;
    background-color: #4e2868;
    background-image: linear-gradient(132deg, #4e2868 0%, #000000 100%);
    text-align: center;

    #description {
        padding-top: 2rem;
        margin-left: 2rem;
        font-size: 2rem;
    }
}

h1 {
    font-size: 23px;
}

.form {
    color: #fff;
    font-family: monospace, serif;
    letter-spacing: 0.05em;
    background-color: #1a1a1a;
    width: 40%;
    margin-left: auto;
    overflow: hidden;
}

.input-field {
    width: 100%;
    padding: 14px 16px;
    border: 0;
    background: transparent;
    color: #fff;
    font-family: monospace, serif;
    letter-spacing: 0.05em;
    font-size: 16px;
    overflow: auto;
}

.input-field:focus {
    outline: none;
    border: 0;
}

.btn {
    width: 100%;
    display: block;
    padding: 14px 16px;
    background: transparent;
    outline: none;
    border: 0;
    color: #fff;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-family: monospace;
    font-size: 16px;
}